.wrapper {
  display: block;
  width: 100%;
  min-height: 100vh;
  margin-bottom: 1rem;
  z-index: -1;
}

.hero {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.slider {
  color: #fff;
  .slider-img {
    filter: brightness(0.3);
    min-height: 550px;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }
  z-index: -1;
}
.carousel-caption {
  color: #fff;
  position: absolute;
  top: 40%;
  z-index: -1;
}
