h2 {
  font-size: 70px;
  text-align: center;
  font-family: "Havana Sunset", cursive;
}



.holder {
  .about-image {
    img {
      border-radius: 20px;
      height: 550px;
      width: 90%;
    }
  }
}

.about {
 p {
    font-weight: bold;
    font-size: 25px;
  }
}