h2 {
  font-size: 55px;
  text-align: center;
  font-family: 'Havana Sunset', cursive;
  padding-bottom: 2rem;
}

.holder {
  .about-image {
    img {
      border-radius: 20px;
      height: 550px;
      width: 90%;
    }
  }
}

.about {
  p {
    font-weight: bold;
    font-size: 25px;
  }
}
