.team-member {
  padding: 20px 0;
  
}

h1 {
  font-size: 55px;
 text-align: center; 
 font-family: "Havana Sunset", cursive;
}

.container {
  padding-bottom: 150px;
  
  img {
    border-radius: 25px 25px 25px 25px;
  }
}
.card {

  text-align: center;
  border-radius: 25px;
  border: 2px solid rgba(0,0,0,0.04);
  padding: 0 0 10px;
.card-text{
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
}
.card-title{
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
}
i {
  margin-right:1.5px;
  
}

}