@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#details {
  font-size: larger;
  width: 500px;
  margin-top: 20px ;
  margin-left: 20px ;
}

.profile {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card1 {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 80px 80px 80px;
  grid-template-areas: 'image' 'text';

  border-radius: 18px;
  background: rgb(169, 203, 157);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: 'Fascinate', cursive;
  text-align: center;

  transition: 0.5s ease;
  cursor: pointer;
  margin: 20px;
}
.card1-image.card2 {
  grid-area: image;
  background: url('https://images.pexels.com/photos/3423860/pexels-photo-3423860.jpeg?auto=compress&cs=tinysrgb&w=600');
  border-top-left-radius: 20px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-text1 {
  grid-area: text;
  margin: 5px;
}

.card-text1 h2 {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: bold;
}
.card-stats1 {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(255, 7, 110);
}

.card1:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

/*card2*/
.card1-image.card2 {
  background: url('https://images.pexels.com/photos/3184398/pexels-photo-3184398.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
}

/*card3*/
.card1-image.card3 {
  background: url('https://media.istockphoto.com/photos/supermarket-receipt-picture-id509136255?s=612x612');
  background-size: cover;
}
