@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  font-family: 'Havana Sunset', cursive;
}
body,
html {
  width: 100%;
  background-color: #1f1f1f1f;
}
#root {
  min-height: 100vh;
  width: 100vw;
}
.app {
  display: flex;
  min-height: 100vh;
  width: 100%;
}
