.popup-box {
  width: 25rem;
  height: 5rem;
  background: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  border: 2px solid #d3d3d3;
  border-radius: 20px;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: right;
  position: absolute;
  top: 78px;
  right: -25rem;
  box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.75);
}

.close-notification-box {
  color: red;
  position: absolute;
  top: 5px;
  left: 7px;
  cursor: pointer;
}

@keyframes slide-box-close {
  0% {
    transform: translateX(-25rem);
  }
  25% {
    transform: translateX(-20rem);
  }
  50% {
    transform: translateX(-15rem);
  }
  75% {
    transform: translateX(-10rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-box-open {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10rem);
  }
  50% {
    transform: translateX(-15rem);
  }
  75% {
    transform: translateX(-20rem);
  }
  100% {
    transform: translateX(-25rem);
  }
}

.hidden {
  display: none;
  // transform: translateX(20rem);
  fill: #fff;
}

.slide-open {
  animation-name: slide-box-open;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.slide-close {
  animation-name: slide-box-close;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
