.nav-bar {
  //   width: 25rem;
  padding: 10px;
}

.nav-bar-button {
  outline: none;
  background: none !important;
  margin: 10px;
  color: #06283d;
  font-size: 1.2rem;
  font-weight: 500;
}

.logout-btn {
  background-color: red !important;
  border-radius: 7px !important;
}
