.checkoutForm {
	background-color: #9fc3c0;
	background-image: linear-gradient(to bottom, #fbf6f7, #fff);
	border-radius: 2em;
	box-shadow: 0 0 1em rgba(236, 160, 160, 0.063);
	overflow: auto;
	padding:5rem;
	margin:5rem;
	height: 100%;
	width: 40%;
	top: 40%;
	left: 40%;
	right: 40%;
	
}

.form-1 {
	display: grid;
	gap: 1em;
}
.form {
	align-items: center;
	background-color: #fefdfe;
	border-radius: 1em;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
	display: flex;
	padding: 1em;
	label {
		align-items: center;
		display: flex;
		
		flex: 1;
		gap: 1em;
	}
}

.button {
	align-items: center;
	background-color: var(--color-primary);
	border-radius: 999em;
	color: #fff;
	display: flex;
	gap: 0.5em;
	justify-content: center;
	padding-block: 0.75em;
	padding-inline: 1em;
	transition: 0.3s;
    background-color: #84b199;

	
}
.button--full {
	inline-size: 100%;
}
.container {
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}
}
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 50%;
}
