.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1rem;
  overflow-y: scroll;

  .pos-card {
    width: 100%;
    background: #dff6ff;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
    align-self: baseline;

    .card-body p {
      padding: 0;
    }

    .card-body input {
      margin-bottom: 10px;
      max-width: 100%;
    }

    button {
      display: flex;
      align-items: center;
      margin: auto;
    }
  }
}

.product {
  // width: 32%;
  margin-left: 10px;
  height: auto;
  min-height: 250px;
  max-height: 300px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  &:hover {
    cursor: pointer;
    transform: scaleX(1.05) scaleY(1.1);
  }

  img {
    max-width: 40%;
    max-height: 100%;
    object-fit: fill;
  }

  .details {
    padding: 5px;

    .top-part {
      width: 100%;
      padding-top: 15px;
      padding-right: 5px;
      display: flex;
      justify-content: space-between;

      p {
        color: #0b5ed7;
      }

      .card-title {
        font-weight: bold;
        font-size: 1.4rem;
        text-align: left;
      }
    }

    .card-description {
      padding-top: 30px;
      p {
        font-size: 15px;
        margin: 0;
        padding: 0;
        text-align: left;
      }
    }
  }
}

.hpd-btn {
  display: block;
  width: 100px;
  margin: auto;
}
